{
    "plugins": [
        [
            "import",
            {
                "libraryName": "@ucloud-fe/react-components",
                "camel2DashComponentName": false,
                "libraryDirectory": "lib/components"
            }
        ]
    ],
    "presets": ["babel-preset-gatsby"]  
}