@import '/src/vars.scss';
$MARKDOWN_CONTENT_WIDTH: 880px;

.wrapper {
    height: 100%;
    position: relative;
    flex: 1;
    overflow: hidden;
    background-color: #f8f8fa;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    -webkit-font-smoothing: antialiased;

    .content-wrapper {
        height: 100%;
        overflow: auto;
        footer {
            > div {
                max-width: $MARKDOWN_CONTENT_WIDTH;
                padding-left: 72px;
                padding-right: 264px;
            }
        }
    }

    .content {
        padding-left: 72px;
        padding-right: 264px;
        padding-bottom: 48px;
        margin: 0 auto;
        max-width: $MARKDOWN_CONTENT_WIDTH;

        .top {
            padding-top: 48px;
            h1 {
                margin: 0;
                margin-bottom: 16px;
                margin-top: 16px;
                color: $T_COLOR_TEXT_DEFAULT_DARK;
                font-size: 40px;
                font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
                font-weight: 400;
                line-height: 42px;
                letter-spacing: 2px;
            }

            h1 a {
                fill:#7a8baa;
                display: inline-block;
                margin-left: 12px;
                svg {
                    width: 16px;
                    height: 16px;
                }
                vertical-align: baseline;
                &:hover{
                    svg {
                        fill: $T_COLOR_TEXT_PRIMARY_DEFAULT;
                    }
                    cursor: pointer;
                    transition: all .3s;
                }
            }
        }

        .tabs {
            margin-top: 48px;
            margin-bottom: 48px;
            ul{
                line-height: 52px;
                height: 52px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid $T_COLOR_LINE_DEFAULT_LIGHT;
                .current, li:hover {
                    background-color: $T_COLOR_BG_DEFAULT_HOVER;
                    border-bottom: 2px solid $T_COLOR_BG_PRIMARY_1;
                    color: $T_COLOR_TEXT_PRIMARY_DEFAULT;
                    font-weight: 600;
                    // font-family: PingFangSC-Semibold, PingFang SC;
                }
                li{
                    margin-right: 2px;
                    &:last-child {
                        margin-right: 0px!important;

                    }
                    i{
                        background-size: contain;
                        margin-right: 8px;
                        width: 46px;
                        height: 32px;
                        display: inline-block;
                    }
                    .design-icon{
                        background-image: url('./images/design-tab-icon.png');
                    }
                    .devIcon{
                        background-image: url('./images/dev-tab-icon.png');
                    }
                    .dtIcon{
                        background-image: url('./images/dt-tab-icon.png');
                    }
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1;
                    
                    font-size: 20px;
                    font-weight: 400;
                    color: $T_COLOR_TEXT_DEFAULT_DARK;
                    // font-family: PingFangSC-Regular, PingFang SC;
                }
            }
        }
    }
}

/* markdown style*/

:global {
    .design-token-color{
        width: 50%;
        height: 24px;
        margin-top: 12px;
        box-shadow: inset 0 0 0 1px #dddbda;
    }
    .recodo-code-theme-switcher{
        display: none!important;
    }
    .recodo-code {
        background-color: $T_COLOR_BG_DEFAULT_BRIGHT!important;
        padding: 24px 24px 24px 24px!important;

        .recodo-code-preview{
            background: none!important;
            border: none!important;
            padding: 0px!important;
        }

        .recodo-code-editor{
            margin: 0px!important;
        }

        .recodo-code-collapse-button{
            color: $T_COLOR_TEXT_PRIMARY_DEFAULT!important;
        }

        .recodo-code-toolbar{
            display: flex!important;
            justify-content: end!important;
            align-items: center!important;
        }
    }

    .recodo-code-editor{
        font-family: Consolas, "Liberation Mono", Menlo, monospace;
        font-size: 13px;
        line-height: 1.5;
        color: rgb(51, 51, 51);
        white-space: pre-wrap;
        overflow-wrap: normal;
        tab-size: 2;
        hyphens: none;
        background-color: rgb(245, 245, 245);
        padding: 8px 16px;
        border: 1px solid rgb(245, 245, 245);
        border-radius: 3px;
        margin-top: 0px;
        margin-bottom: 16px;
        overflow: auto;
        > div {
            background: none!important;
        }
    }

    @mixin h1(){
        font-size: 40px!important;
        font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji!important;
        font-weight: 600!important;
        line-height: 42px!important;
        letter-spacing: 1px!important;
    }

    @mixin h2(){
        font-size: 30px!important;
        font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji!important;
        font-weight: 500!important;
        line-height: 38px!important;
        margin-top: 80px!important;
        margin-bottom: 32px!important;
        padding-bottom: 16px!important;
        border-bottom: 1px solid #d2d6ea!important;
        letter-spacing: 1px!important;
    }

    @mixin h3(){
        font-size: 24px!important;
        font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji!important;
        font-weight: 400!important;
        margin-bottom: 24px!important;
        margin-top: 32px!important;
        letter-spacing: 1px!important;
    }

    @mixin h4(){
        font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji!important;
        font-size: 16px!important;
        // font-weight: 400!important;
        // margin-bottom: 24px!important;
        // margin-top: 32px!important;
        letter-spacing: 1px!important;
    }

    @mixin h-common(){
        margin: 0!important;
        margin-bottom: 16px!important;
        margin-top: 24px!important;
        color: #0a1633!important;
        font-size: 16px!important;
        font-weight: 400!important;
    }

    @mixin ul(){
        list-style: disc!important;
        list-style-type: disc!important;
        margin-left: 24px!important;
        li {
            margin-bottom: 8px!important;
        }
    }
    @mixin ol(){
        list-style: decimal!important;
        list-style-type: decimal!important;
        margin-left: 24px!important;
        li {
            margin-bottom: 8px!important;
            line-height: 24px;
        }
    }

    @mixin a(){
        text-decoration: none!important;
        color: $T_COLOR_TEXT_PRIMARY_DEFAULT!important;
    }

    @mixin strong(){
        font-weight: 400!important;
    }

    @mixin p(){
        margin-bottom: 16px!important;
        line-height: 24px;
    }

    .u-markdown-dev-styles{
        .recodo-component-wrap > h2{
            @include h-common();
            @include h2();
        }

        .recodo-props{
            > h3{
                @include h-common();
                @include h3();
            }
        }

        .recodo-doc{
            > h1, > h2, > h3, > h4{ @include h-common(); }
            > h1 { @include h1(); }
            > h2 { @include h2(); }
            > h3 { @include h3(); }
            > h4 { @include h4(); }
            > ul { @include ul(); }
            > ol { @include ol(); }
        }
    }

    .u-markdown-design-styles {
        h1, h2, h3, h4{ @include h-common(); }
        h1 { @include h1(); }
        h2 { @include h2(); }
        h3 {  @include h3(); }
        ul { @include ul(); }
        ol { @include ol(); }
        a { @include a(); }

        strong {
            @include strong();
        }
        table {
            width: 100%!important;
            white-space: pre-wrap!important;
            word-break:break-all!important;
            padding: 12px 0!important;
            border-collapse: separate!important;
            border-spacing: 0px!important;
            font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji!important;
            tr, th, td {
                margin: 0px!important;
                padding: 0px!important;
                border: 0px!important;
            }

            thead tr th{
                border-bottom: 1px solid $T_COLOR_LINE_DEFAULT_DARK!important;
                line-height: 43px!important;
                padding: 0px 12px!important;
                color: $T_COLOR_TEXT_DEFAULT_DARK!important;
                font-size: 14px!important;
                font-weight: 400!important;
                background: #eaebf1!important;
            }

            tbody tr td{
                box-sizing: content-box!important;
                border-bottom: 1px solid $T_COLOR_LINE_DEFAULT_DARK!important;
                line-height: 47px!important;
                padding: 0px 12px!important;
                color: #526075;
                font-size: 14px!important;
                font-weight: 400!important;
            }
            tbody tr:nth-child(2n){
                background: $T_COLOR_TEXT_WHITE!important;
            }
        }

        p {
            @include p();
        }
    }

    .u-markdown-docs-styles {
        h1, h2, h3, h4{ @include h-common(); }
        h1 { @include h1(); }
        h2 { @include h2(); }
        h3 {  @include h3(); }
        ul { @include ul(); }
        ol { @include ol(); }
        a { @include a(); }

        strong {
            @include strong();
        }

        p {
            @include p();
        }
    }

    blockquote {
        color: #526075;
        font-size: 18px;
        font-weight: 300;
        font-family: PingFangSC-Light, PingFang SC;
        line-height: 28px;
        border-left: 4px solid $T_COLOR_LINE_DEFAULT_LIGHT;
        padding-left: 16px;
        margin: 0px;
        margin-bottom: 16px;
        p {
            margin: 0px !important;
            padding: 0px !important;
        }
    }

    i.u-md-suggested,
    i.u-md-not-suggested {
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: middle;
        background-size: contain;
        position: relative;
        top: -2px;
        margin-right: 8px;
    }

    i.u-md-suggested {
        background-image: url('./images/suggested.png');
    }

    i.u-md-not-suggested {
        background-image: url('./images/not-suggested.png');
    }

    .u-md-flex-without-bg{
        display: flex;
        > div{
            margin-right: 24px;
            flex: 1;
            &:last-child{
                margin-right: 0px;
            }
        }
    }

    .u-md-flex,
    .u-md-flex-align-left {
        display: flex;
        background-color: $mk-image-bg;
        > div,
        > .gatsby-resp-image-figure,
        > .gatsby-resp-image-wrapper {
            flex: 1;
            &:last-child {
                padding-right: 0px !important;
            }
        }
    }

    .u-md-img-center, .u-md-img-left{
        background-color: $mk-image-bg;
        border: 1px solid #EFEFF8;
        margin-bottom: 38px;
        .gatsby-resp-image-figure {
            border: none !important;
            margin-bottom: 0px !important;
        }
    }

    .u-md-img-center{
        > div {
            margin: 0 auto;
        }
    }

    .u-md-mr24 {
        margin-right: 24px;
    }
    .u-md-ml24 {
        margin-left: 24px;
    }

    .u-md-pr24 {
        padding-right: 24px;
    }
    .u-md-pl24 {
        padding-left: 24px;
    }


    .u-md-flex-align-left {
        .gatsby-resp-image-wrapper {
            margin: 0 !important;
        }
    }

    .gatsby-resp-image-figure {
        border: 1px solid #EFEFF8;
        flex: 1;
        margin: 0;
        // margin-bottom: 38px;
    }

    .gatsby-resp-image-figcaption {
        text-align: center;
        color: $T_COLOR_TEXT_REMARK_LIGHT;
        font-size: 14px;
        line-height: 22px;
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: -38px;
        display: none;
    }

    .gatsby-resp-image-figure {
        background-color: $mk-image-bg;
        position: relative;
        // figcaption{
            // display: none;
        // }
    }

    .gatsby-highlight{
        code.language-md{
            white-space: pre-wrap!important;
            word-break:break-all!important;
        }
    }
}
