@import '/src/vars.scss';

@mixin mainWrapper() {
    position: relative;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    background-color: #f8f8fa;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}


.midWrapper{
    padding-left: $CONTENT_MARGIN;
    padding-right: $CONTENT_MARGIN;
    @include mainWrapper();
    .midContent, .midHeader{
        min-width: $MIN_CONTENT_WIDTH + $TOC_WIDTH + $CONTENT_MARGIN;
        max-width: $MAX_CONTENT_WIDTH + $TOC_WIDTH + $CONTENT_MARGIN;
        margin: 0 auto;

    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 72px;

    > div {
        min-width: $MIN_CONTENT_WIDTH + $TOC_WIDTH + $CONTENT_MARGIN;
        max-width: $MAX_CONTENT_WIDTH + $TOC_WIDTH + $CONTENT_MARGIN;
    }
}

.componentHeader, .specHeader, .midHeader {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 64px;

    h1 {
        margin: 0;
        width: 100%;
        color: $T_COLOR_TEXT_DEFAULT_DARK;
        font-size: 40px;
        line-height: 1.5;
        font-family: "PingFangSC-Semibold";
        font-weight: 600;
        letter-spacing: 0px;
    }
    p {
        opacity: 1;
        color: $T_COLOR_TEXT_DEFAULT_DARK;
        font-family: "PingFangSC-Regular";
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 1.5;
        margin: 0;
        margin-top: 10px;
    }

    h1 a {
        fill: #7a8baa;
        display: inline-block;
        margin-left: 12px;
        svg {
            width: 16px;
            height: 16px;
        }
        vertical-align: baseline;
        &:hover {
            svg {
                fill: $T_COLOR_TEXT_PRIMARY_DEFAULT;
            }
            cursor: pointer;
            transition: all 0.3s;
        }
    }
}

.wrapper {
    @include mainWrapper();

    .componentHeader, .specHeader, .content, footer {
        .headerH1, .markdown{
            min-width: $MIN_CONTENT_WIDTH;
            max-width: $MAX_CONTENT_WIDTH;
            margin: 0 $CONTENT_MARGIN;
            flex: 1;
        }
    }

    .componentHeader::after, .specHeader::after, .sidebar{
        content: '';
        margin-right: $CONTENT_MARGIN;
        flex-basis: $TOC_WIDTH;
        flex-shrink: 0;
        flex-grow: 0;
        min-width: 0;
    }

    .content {
        display: flex;
        justify-content: center;
        position: relative;
        align-items: stretch !important;
    }

    .sidebar{
        position: sticky;
        top: 138px;
        height: 100%;
        > i{
            border-radius: 2px;
            cursor: pointer;
            border: 1px solid #EBEFFF;
            height: 40px;
            width: 40px;
            line-height: 40px;
            color: #7A8BAA;
            background-color: #ffffff;
            box-shadow: 0px 4px 12px rgba(0,0,0, 0.12);
            margin-top: 26px;
            margin-left: 50px;
            opacity: 0;
            transition:  opacity 0.1s;
            position: fixed;
            bottom: 96px;
            right: 96px;
            z-index: 9999;
        }
        .toc{
            position: relative;
            top: 16px;
            max-height: calc(100vh - 365px);
            overflow: auto;
        }
    }

    .componentHeader{
        padding-bottom: 48px;
        border-bottom: 1px solid rgba(225,230,239, 1);
    }

    .tabs {
        position: relative;
        top: -90px;
        border-radius: 2px;
        background-color: rgba(236,237,241, 1);
        padding: 4px;
        display: inline-block;
        ul {
            display: flex;
            .current,
            li:hover {
                background-color: rgba(255,255,255, 1);
                color: $T_COLOR_TEXT_PRIMARY_DEFAULT;
                transition: all 0.15s;
            }
            li {
                transition: all 0.15s;
                border-radius: 2px;
                cursor: pointer;
                opacity: 1;

                width: 93px;
                height: 34px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:first-child {
                    margin-right: 4px !important;
                }

                color: $T_COLOR_TEXT_DEFAULT_DARK;
                font-family: "PingFangSC-Regular";
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
            }
        }
    }

    .markdown {
        margin-bottom: $CONTENT_MARGIN;
        position: relative;
    }
}

/* markdown style*/

:global {
    .design-token-color {
        width: 50%;
        height: 24px;
        margin-top: 12px;
        box-shadow: inset 0 0 0 1px #dddbda;
    }

    @mixin h1() {
        font-size: 40px !important;
        font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji !important;
        font-weight: 600 !important;
        line-height: 42px !important;
        letter-spacing: 1px !important;
    }

    @mixin h2() {
        font-size: 30px !important;
        font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji !important;
        font-weight: 500 !important;
        line-height: 38px !important;
        margin-top: 80px !important;
        margin-bottom: 32px !important;
        padding-bottom: 16px !important;
        border-bottom: 1px solid #d2d6ea !important;
        letter-spacing: 1px !important;
    }

    @mixin h3() {
        font-size: 24px !important;
        font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji !important;
        font-weight: 400 !important;
        margin-bottom: 24px !important;
        margin-top: 32px !important;
        letter-spacing: 1px !important;
    }

    @mixin h4() {
        font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji !important;
        font-size: 16px !important;
        // font-weight: 400!important;
        // margin-bottom: 24px!important;
        // margin-top: 32px!important;
        letter-spacing: 1px !important;
    }

    @mixin h-common() {
        margin: 0 !important;
        margin-bottom: 16px !important;
        margin-top: 24px !important;
        color: #0a1633 !important;
        font-size: 16px !important;
        font-weight: 400 !important;
    }

    @mixin ul() {
        list-style: disc !important;
        list-style-type: disc !important;
        margin-left: 24px !important;
        li {
            margin-bottom: 8px !important;
        }
    }
    @mixin ol() {
        list-style: decimal !important;
        list-style-type: decimal !important;
        margin-left: 24px !important;
        li {
            margin-bottom: 8px !important;
            line-height: 24px;
        }
    }

    @mixin a() {
        text-decoration: none !important;
        color: $T_COLOR_TEXT_PRIMARY_DEFAULT !important;
    }

    @mixin strong() {
        font-weight: 400 !important;
    }

    @mixin p() {
        margin-bottom: 16px !important;
        line-height: 24px;
    }

    .u-markdown-dev-styles {
        > h1,
        > h2,
        > h3,
        > h4 {
            @include h-common();
        }
        > h1 {
            @include h1();
        }
        > h2 {
            @include h2();
        }
        > h3 {
            @include h3();
        }
        > h4 {
            @include h4();
        }
        > ul {
            @include ul();
        }
        > ol {
            @include ol();
        }

        .u-props {
            .u-props-table-wrap {
                background: #ffffff;
                border: 1px solid #efeff8;
                padding: 24px;
        
                .u-props-table {
                    width: 100%;
                    border-spacing: 0;
                    border-collapse: collapse;
                    font-size: 12px;
                    font-family: monospace;
                    font-weight: 400;
                    &,
                    * {
                        margin: 0;
                        padding: 0;
                    }
                    th {
                        text-align: left;
                        line-height: 20px;
                        color: #526075;
                    }
                    td {
                        color: #0a1633;
                        word-break: break-word;
                    }
                    th,
                    td {
                        padding: 12px;
                    }
                    tr {
                        border-bottom: 1px solid #c3cad9;
                    }
                    tbody > tr:nth-child(2n + 1) {
                        background: #f6f6fb;
                    }
                    tbody > tr:hover {
                        background: #f4f6ff;
                    }
        
                    .u-props-table-desc-tag-title {
                        font-weight: 500;
                    }
                    tr.u-props-table-deprecated {
                        text-decoration: line-through;
                        opacity: 0.5;
                        background: #ebebf1 !important;
                    }
                }
            }
        }
        

        .demo-show {
            background-color: $T_COLOR_BG_DEFAULT_BRIGHT !important;
            padding: 24px 24px 6px 24px !important;

           .demo-code{
                margin-bottom: 12px;
                max-height: 500px;
                overflow-y: auto!important;
            }

            h1 {
                line-height: 2em;
                font-size: 18px;
                font-weight: bold;
            }
            h2 {
                line-height: 2em;
                font-size: 16px;
                font-weight: bold;
            }
            h3 {
                line-height: 1.6em;
                font-size: 13px;
            }
        }

        .demo-toolbar {
            font-size: 13px !important;
            padding: 12px 0px!important;
            background-color: $T_COLOR_BG_DEFAULT_BRIGHT !important;
            align-items: center !important;
            display: flex !important;
            justify-content: end !important;

            .demo-toolbar-view-code {
                @mixin hover() {
                    content: ' ';
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: $T_COLOR_BG_PRIMARY_1;
                }
                &[data-active='true']{
                    &:after {
                        @include hover();
                    }
                }

                cursor: pointer;
                user-select: none;
                font-weight: 500;
                color: $T_COLOR_TEXT_PRIMARY_DEFAULT;
                position: relative;
                &:hover {
                    &:after {
                       @include hover();
                    }
                }
            }
        }

        .gatsby-highlight[data-language="jsx"]{
            padding-top: 0px!important;
        }

        .gatsby-highlight {
            background-color: $T_COLOR_BG_DEFAULT_BRIGHT !important;
            padding: 24px !important;
            font-size: 13px !important;

            .language-jsx {
                margin: 0px !important;
            }
            pre.language-jsx {
                display: none;
            }
        }

        .uc-fe-form-item {
            overflow: hidden !important;
        }
    }

    .u-markdown-design-styles {
        h1,
        h2,
        h3,
        h4 {
            @include h-common();
        }
        h1 {
            @include h1();
        }
        h2 {
            @include h2();
        }
        h3 {
            @include h3();
        }
        ul {
            @include ul();
        }
        ol {
            @include ol();
        }
        a {
            @include a();
        }

        img {
            width: 100%;
        }

        strong {
            @include strong();
        }
        table {
            width: 100% !important;
            white-space: pre-wrap !important;
            word-break: break-all !important;
            padding: 12px 0 !important;
            border-collapse: separate !important;
            border-spacing: 0px !important;
            font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans,
                sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji !important;
            tr,
            th,
            td {
                margin: 0px !important;
                padding: 0px !important;
                border: 0px !important;
            }

            thead tr th {
                border-bottom: 1px solid $T_COLOR_LINE_DEFAULT_DARK !important;
                line-height: 43px !important;
                padding: 0px 12px !important;
                color: $T_COLOR_TEXT_DEFAULT_DARK !important;
                font-size: 14px !important;
                font-weight: 400 !important;
                background: #eaebf1 !important;
            }

            tbody tr td {
                box-sizing: content-box !important;
                border-bottom: 1px solid $T_COLOR_LINE_DEFAULT_DARK !important;
                line-height: 47px !important;
                padding: 0px 12px !important;
                color: #526075;
                font-size: 14px !important;
                font-weight: 400 !important;
            }
            tbody tr:nth-child(2n) {
                background: $T_COLOR_TEXT_WHITE !important;
            }
        }

        p {
            @include p();
        }
    }

    .u-markdown-docs-styles {
        h1,
        h2,
        h3,
        h4 {
            @include h-common();
        }
        h1 {
            @include h1();
        }
        h2 {
            @include h2();
        }
        h3 {
            @include h3();
        }
        ul {
            @include ul();
        }
        ol {
            @include ol();
        }
        a {
            @include a();
        }

        strong {
            @include strong();
        }

        p {
            @include p();
        }
    }

    blockquote {
        color: #526075;
        font-size: 18px;
        font-weight: 300;
        font-family: PingFangSC-Light, PingFang SC;
        line-height: 28px;
        border-left: 4px solid $T_COLOR_LINE_DEFAULT_LIGHT;
        padding-left: 16px;
        margin: 0px;
        margin-bottom: 16px;
        p {
            margin: 0px !important;
            padding: 0px !important;
        }
    }

    i.u-md-suggested,
    i.u-md-not-suggested {
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: middle;
        background-size: contain;
        position: relative;
        top: -2px;
        margin-right: 8px;
    }

    i.u-md-suggested {
        background-image: url('./images/suggested.png');
    }

    i.u-md-not-suggested {
        background-image: url('./images/not-suggested.png');
    }

    .u-md-flex-without-bg {
        display: flex;
        > div {
            margin-right: 24px;
            flex: 1;
            &:last-child {
                margin-right: 0px;
            }
        }
    }

    .u-md-flex,
    .u-md-flex-align-left {
        display: flex;
        background-color: $mk-image-bg;
        > div,
        > .gatsby-resp-image-figure,
        > .gatsby-resp-image-wrapper {
            flex: 1;
            &:last-child {
                padding-right: 0px !important;
            }
        }
    }

    .u-md-img-center,
    .u-md-img-left {
        background-color: $mk-image-bg;
        border: 1px solid #efeff8;
        margin-bottom: 38px;
        .gatsby-resp-image-figure {
            border: none !important;
            margin-bottom: 0px !important;
        }
    }

    .u-md-img-center {
        > div {
            margin: 0 auto;
        }
    }

    .u-md-mr24 {
        margin-right: 24px;
    }
    .u-md-ml24 {
        margin-left: 24px;
    }

    .u-md-pr24 {
        padding-right: 24px;
    }
    .u-md-pl24 {
        padding-left: 24px;
    }

    .u-md-flex-align-left {
        .gatsby-resp-image-wrapper {
            margin: 0 !important;
        }
    }

    .gatsby-resp-image-figure {
        border: 1px solid #efeff8;
        flex: 1;
        margin: 0;
        // margin-bottom: 38px;
    }

    .gatsby-resp-image-figcaption {
        text-align: center;
        color: $T_COLOR_TEXT_REMARK_LIGHT;
        font-size: 14px;
        line-height: 22px;
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: -38px;
        display: none;
    }

    .gatsby-resp-image-figure {
        background-color: $mk-image-bg;
        position: relative;
        // figcaption{
        // display: none;
        // }
    }

    .gatsby-highlight {
        code.language-md {
            white-space: pre-wrap !important;
            word-break: break-all !important;
        }
    }
}
