@import '/src/vars.scss';

.wrapper {
    position: sticky;
    top: 48px;
    right: 48px;
    width: 160px;
    float: right;

    h2 {
        margin: 0;
        margin-bottom: 16px;
        font-size: 20px;
        line-height: 32px;
        font-weight: 400;
        color: $T_COLOR_TEXT_DEFAULT_DARK;
    }

    .innerScroll {
        margin: 0;
        border-left: 1px solid $T_COLOR_LINE_DEFAULT_LIGHT;
        padding-left: 10px;

        .to {
            height: 22px;
            padding-left: 1px;
            a {
                display: block;
                font-size: 14px;
                line-height: 22px;
                height: 22px;
                font-weight: 300;
                text-decoration: none;
                color: $T_COLOR_TEXT_DEFAULT_DARK;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-family: PingFangSC-Light, PingFang SC;
            }

            margin: 0;
            margin-bottom: 8px;
        }

        .current {
            border-left: 2px solid $T_COLOR_BG_PRIMARY_1;
            padding-left: 10px;
            margin-left: -11px;
            height: 22px;

            a {
                font-family: PingFangSC-Medium, PingFang SC;
                color: $T_COLOR_TEXT_PRIMARY_DEFAULT;
                font-weight: 500;
                line-height: 22px;
            }
        }
    }
}
