@import '/src/vars.scss';

.toc {
    .innerScroll {
        margin: 0;
        border-left: 1px solid $T_COLOR_LINE_DEFAULT_LIGHT;
        padding-left: 8px;

        .to {
            height: 22px;
            padding-left: 1px;
            a {
                display: block;
                font-size: 14px;
                line-height: 22px;
                height: 22px;
                font-weight: 400;
                text-decoration: none;
                color: #526075;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-family: "PingFangSC-Regular";
                font-style: normal;
                letter-spacing: 0px;
                div {
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                &:hover {
                    color: $T_COLOR_TEXT_PRIMARY_DEFAULT !important;
                    transition: all 0.1s;
                }
            }

            a[data-depth="2"]{
                color: $T_COLOR_TEXT_DEFAULT_DARK;
                font-weight: 500;
            }

            margin: 0;
            margin-bottom: 4px;
        }

        .current {
            border-left: 2px solid $T_COLOR_BG_PRIMARY_1;
            padding-left: 10px;
            margin-left: -9px;
            height: 22px;

            a {
                transition: color 0.1s;
                font-family: "PingFangSC-Medium";
                color: $T_COLOR_TEXT_PRIMARY_DEFAULT !important;
                font-weight: 500;
            }
        }
    }
}
