@import 'src/vars.scss';

.w{
    font-family: PingFang SC;
    width: 100%;
    background: #F6F6FB;
    .c{
        max-width: 1120px;
        margin: 0 auto;
        .top{
            display: flex;
            padding: 60px 0px;
            justify-content:space-between;
            align-items: center;
            .logo{
                font-style: normal;
                font-weight: 600;
                font-size: 28px;
                color: #292930;
            }
            ul.links{
                margin: 0px;
                padding: 0px;
                display: flex;
                li a{
                    text-decoration: none;
                    margin-left: 64px;
                    font-size: 16px;
                    line-height: 22px;
                    color: #52526B;
                }
            }
        }

        .bottom{
            text-align: left;
            font-size: 16px;
            line-height: 22px;            
            color: #999FAE;
            padding: 32px 0px;
            font-weight: 300;

            border-top: 1px solid rgba(0, 0, 0, 0.08);
        }

    }
}