@import 'src/vars.scss';

.footer {
    background-color: #0a1633;
    padding: 0px 72px;
    padding-top: 32px;
    color: $T_COLOR_TEXT_DEFAULT_LIGHT;

    .links {
        display: flex;
        justify-content: space-around;
        h2 {
            color: $T_COLOR_TEXT_WHITE;
            font-size: 16px;
            margin-bottom: 36px;
        }

        > div{
            ul li {
                min-width: 194px;
                margin-bottom: 12px;
                a {
                    font-size: 14px;
                    color: $T_COLOR_TEXT_WHITE;
                    text-decoration: none;
                    &:hover{
                        color: $T_COLOR_TEXT_PRIMARY_DEFAULT;
                    }
                }
            }
        }
    }

    .bottom{
        text-align: center;
        padding: 12px 0px;
    }
}
