$T_COLOR_BG_DEFAULT_DARK: #f6f6fb;
$T_COLOR_TEXT_DEFAULT_LIGHT: #526075;
$T_COLOR_TEXT_REMARK_DARK: #7a8baa;
$T_COLOR_TEXT_PRIMARY_DEFAULT: #3860f4;
$T_COLOR_BG_PRIMARY_1: #3860f4;
$T_COLOR_BG_DEFAULT_HOVER: #eaeefd;
$T_COLOR_LINE_DEFAULT_LIGHT: #e0e2ef;
$T_COLOR_TEXT_DEFAULT_DARK: #0a1633;
$T_COLOR_TEXT_REMARK_LIGHT: #0a1633;

$sidebar-width: 258px;
$min-width: 1440px;
$header-height: 72px;
$header-logo: 258px;
