@import 'src/vars.scss';

.wrapper {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f8f8fa;
    min-width: $min-width;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.header {
    height: $header-height;
    background: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.03);
    .logo {
        width: $header-logo;
        padding-left: 35px;
        box-sizing: border-box;
        a {
            display: inline-block;
            text-decoration: none;
            width: 180px;
        }
    }
    nav {
        margin-left: 90px;
        display: flex;
        height: 100%;
        a {
            width: 66px;
            height: 100%;
            text-align: center;
            box-sizing: border-box;
            font-size: 16px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: $T_COLOR_TEXT_DEFAULT_LIGHT;
            text-decoration: none;
            line-height: $header-height;
            border-bottom: 4px solid transparent;
            margin-right: 40px;
            &:hover {
                border-bottom: 4px solid $T_COLOR_BG_PRIMARY_1;
                color: $T_COLOR_BG_PRIMARY_1;
            }
        }
        .current {
            border-bottom: 4px solid $T_COLOR_BG_PRIMARY_1;
            color: $T_COLOR_BG_PRIMARY_1;
        }
    }
}

.main {
    position: absolute;
    overflow: hidden;
    top: $header-height;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-flow: row nowrap;
}
