@import 'src/vars.scss';

.wrapper {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F6F6FB;
    min-width: $min-width;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.header {
    height: $header-height;
    background: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.03);
    position: relative;
    z-index: 1;
    .logo {
        width: $header-logo;
        padding-left: 35px;
        box-sizing: border-box;
        a {
            display: inline-block;
            text-decoration: none;
            width: 180px;

            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 97.83%;
            letter-spacing: -0.03em;
            color: #292930;
        }
    }
    nav {
        margin-left: 90px;
        display: flex;
        height: 100%;
        a {
            width: 66px;
            height: 100%;
            text-align: center;
            box-sizing: border-box;

            font-family: PingFang SC;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            letter-spacing: -0.04em;
            color: #292930;
            
            // color: $T_COLOR_TEXT_DEFAULT_LIGHT;
            text-decoration: none;
            line-height: $header-height;
            border-bottom: 4px solid transparent;
            margin-right: 40px;
            &:hover {
                border-bottom: 4px solid $T_COLOR_BG_PRIMARY_1;
                color: $T_COLOR_BG_PRIMARY_1;
            }
        }
        .current {
            border-bottom: 4px solid $T_COLOR_BG_PRIMARY_1;
            color: $T_COLOR_BG_PRIMARY_1;
        }
    }
}

.main {
    position: absolute;
    // overflow: hidden;
    overflow: auto;
    top: $header-height;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-flow: row nowrap;
    background-color: #fff;
}
